.ui {
    width: 100%;
    height: 500px;
    border: none;
    position: absolute;
    top: 100px;
    left: 0px;
}
.ui img {
    width: 100%;
    height: 100%;
}
.ij {
    width: 300px;
    height: 60px;
    border: none;
    position: absolute;
    top: 650px;
    left: 500px;
}
.ij img {
    width: 100%;
    height: 100%;
}
.eh {
    font-size: 30px;
    font-weight: 600;
    color: #124f96;
    position: absolute;
    top: -25px;
    left: 90px;
}
.jj {
    width: 1100px;
    height: 600px;
    border: none;
    position: absolute;
    top: 800px;
    left: 100px;
}
.ko {
    font-size: 20px;
    font-weight: 500;
    white-space: pre;
    line-height: 50px;
    position: absolute;
    top: -80px;
    left: 0px;
}
.other {
    z-index: 100;
    width: 100%;
    height: 100px;
    background-color: #249cad;
    position: absolute;
    top: 1400px;
}
.foo {
    font-size: 18px;
    color: white;
    font-weight: 400;
    position: absolute;
    top: 15px;
    left: 250px;
}