.back {
    width: 100px;
    height: 50px;
    background-color: transparent;
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
}
.back:hover {
     cursor: pointer;
    color:rgb(255, 255, 255,0.7);
}
.am {
    width: 100%;
    height:600px;
    border:none;
    position: absolute;
    top: 100px;
}
.carousel-thum {
    width: 1300px;
    height: 600px;
    position: absolute;
    top: 100px;
    left: 0;
}
.main {
    width: 800px;
    height: 550px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    position: absolute;
    top: 30px;
    left: 250px;
}
.gy {
    width: 400px;
    height: 350px;
    position: absolute;
    top: 50px;
    left: 50px;
}
.tiz {
    font-size: 30px;
    font-weight: 600;
    color: #1082c8;
    position: absolute;
    top: 10px;
    left: 500px;
}
.form {
    border: none;
    width: 250px;
    height: 80px;
    position: absolute;
    top: 110px;
    left: 490px;
}
.form input {
    height: 20px;
    width: 140px;
}
.form label {
    font-size: 30px;
    color: #1082c8;
}
.gs {
    width: 280px;
    height: 40px;
    background-color: #1082c8;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    position: absolute;
    top: 250px;
    left: 500px;
}
.gs:hover {
    cursor: pointer;
    background-color: green;
}
.gz {
    width: 125px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #5f5f5f;
    color: white;
    position: absolute;
    top: 310px;
    left: 500px;
}
.gz:hover {
    cursor: pointer;
    background-color: #7c1505;
}
.gv {
    width: 125px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #5f5f5f;
    color: white;
    position: absolute;
    top: 310px;
    left: 660px;
}
.gv:hover {
    cursor: pointer;
    background-color: #014fad;
}
/*选项框样式设计*/
.fxk {
    width: 280px;
    height: 180px;
    border: none;
    position: absolute;
    top: 220px;
    right: 20px;
}
.fxk h1 {
    font-size: 20px;
    font-weight: 400;
    color: #014fad;
    position: absolute;
    top: -15px;
    left: 100px;
}
.o {
    position: absolute;
    top: 15px;
    left: 50px;
}
.fc {
    position: absolute;
    left: 130px;
    top: 30px;
}
.che {
    position: absolute;
    top: 60px;
    left: 50px;
}
.vs {
    font-size: 17px;
    position: absolute;
    top:90px;
    left: 50px;
}
.wb {
    position: absolute;
    top: 75px;
    left: 130px;
}
.zon {
    position: absolute;
    top: 120px;
    left: 46px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.liu {
    position: absolute;
    top: 410px;
    left: 50px;
}
#remark {
    width: 320px;
    height: 50px;
}
/*按钮整体位置设置*/
.yshsh {
    position: absolute;
    top: 160px;
    left: 0px;
}
/*提示框*/
.wj {
    display: none;
    width: 500px;
    height: 500px;
    background-color: #249cad;
    z-index: 100;
    position: absolute;
    border-radius: 10px;
    top: 150px;
    left: 400px;
}
.ts {
    font-size: 30px;
    color: white;
    font-weight: 600;
    position: absolute;
    top: 20px;
    left: 80px;
}
.yc {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 110px;
    left: 120px;
}
.lm {
    font-size: 15px;
    color: white;
    position: absolute;
    top: 355px;
    left: 90px;
}
.jik {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    font-weight: 500;
    border: none;
    background-color: rgb(4, 172, 1);
    position: absolute;
    top: 410px;
    left: 140px;
}
.jik:hover {
    cursor: pointer;
    color: rgb(55, 90, 2);
    color: black;
}
.ul {
    text-decoration: none;
    font-size: 15px;
    color: white;
    position: absolute;
    top: 5px;
    right: 10px;
}
.ul:hover {
    cursor: pointer;
    color: rgb(172, 172, 172);
}
/*版权样式设计*/
.other {
    z-index: 100;
    width: 100%;
    height: 100px;
    background-color: #249cad;
    position: absolute;
    top: 700px;
}
.foo {
    font-size: 18px;
    color: white;
    font-weight: 400;
    position: absolute;
    top: 15px;
    left: 250px;
}